APP_NAME="õ origines"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://oorigines.sernhacmultisports.fr

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=votre-host-mysql.mysql.db
DB_PORT=3306
DB_DATABASE=votre_base
DB_USERNAME=votre_user
DB_PASSWORD=votre_motdepasse

BROADCAST_CONNECTION=log
CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database

MAIL_MAILER=smtp
MAIL_HOST=ssl0.ovh.net
MAIL_PORT=465
MAIL_USERNAME=contact@sernhacmultisports.fr
MAIL_PASSWORD=votre_motdepasse_email
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=contact@sernhacmultisports.fr
MAIL_FROM_NAME="õ origines"

FILAMENT_AUTH_GUARD=web
